<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Textsummarizer</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/style.css">
</head>

<body>

  <div id="main">
    <div style="display:none"  class="bydefoultnone">
     <div class="container ">
      <div class="jumbotron  jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 ">Text Summrization</h1>
          <p class="lead">Retrive the best summary for the text</p>
        </div>
      </div>
     </div>
     <form action="/analyze" method="POST" class="container">
      <p>Paste here your Paragraph </p>
      <textarea name="rawtext" class="form-control" placeholder="Paste your text here..."></textarea>
      <input class="btn btn-primary" type="submit" value="Summarize">
    </form>

  </div>

    <div class="welcome_page">
      <div class="box" style="text-align: center;">
        <h1 class="welcome-text" style="color: white; width: 100vw;">SUMMARY YOUR TEXT</h1>
        <p style="color: white;">Create Concise Summaries of Texts Instantly</p>
        <button>
          <div  class="click-summary">Cick here for summary your text </div>
        </button>
      </div>
    </div>

    <footer>
      <div  class="name" style="font-size: 16px;">
        <a target="_blank" href="">@2023</a>
        <a target="_blank" href="mailto:kuldeepmaurya4296@gmail.com">E-mail</a>

      </div>
      <div  class="about">
        <a target="_blank" href="https://github.com/kuldeepmaurya4296"> github</a>
        <a target="_blank" href="https://www.linkedin.com/in/kuldeepmaurya4296/">linkedin</a>
        <a target="_blank" href="https://www.instagram.com/the_selfish7.0/">Know more.</a>
      </div>
    </footer>
  </div>
  <script>
    document.querySelector(".click-summary")
      .addEventListener("click", function () {
        document.querySelector(".bydefoultnone")
          .style.display = "initial"

        document.querySelector(".welcome_page")
          .style.display = "none";
      })
  </script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>
